/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

/*opdracht 2.1*/
.one {
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
}

/*opdracht 2.2*/
.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*opdracht 2.3*/
.three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    }

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 15px;
}

/*opdracht 2.4*/
.four{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*opdracht 2.5 hier kom ik niet uit */

.five{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

article{
    flex-basis: 350px;
    flex-grow: 1;
}

.artikel-drie{
    flex-grow: 2;git
}